<div class="container">
	<accordion [closeOthers]="oneAtATime">
		<accordion-group heading="Header">

			<table class="table table-bordered table-hover">
				<thead class="font-weight-bold">
				<tr>
					<td>First</td>
					<td>Second</td>
					<td>Third</td>
					<td>Fourth</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>A</td>
					<td>a</td>
					<td>a</td>
					<td>a</td>
				</tr>
				<tr>
					<td>A</td>
					<td>a</td>
					<td>a</td>
					<td>a</td>
				</tr>
				<tr>
					<td>A</td>
					<td>a</td>
					<td>a</td>
					<td>a</td>
				</tr>
				</tbody>
			</table>

		</accordion-group>
		<accordion-group heading="Content 1">
			<div class="row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta dolor
				repudiandae rerum.
				Beatae earum eius enim esse in ipsa iste minus modi nostrum ratione rerum, sunt tempore totam?
				Laboriosam.
			</div>
			<div class="row">Assumenda earum eveniet expedita magni sit sunt tempora tenetur totam vero voluptatem!
				Accusantium
				aperiam commodi culpa cumque delectus illum laudantium necessitatibus nostrum odio quibusdam. Ab
				asperiores error expedita maxime soluta.
			</div>
		</accordion-group>
		<accordion-group heading="Content 2">
			<div class="row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eum illo iusto laboriosam
				molestias
				nobis odit quia quisquam totam voluptatem. Asperiores beatae dignissimos facilis, harum ipsum optio
				praesentium quod velit!
			</div>
			<div class="row">Debitis et minima molestias nobis repudiandae! Accusamus dignissimos est expedita fuga illo
				illum
				maxime molestiae nam natus obcaecati quibusdam rem, veritatis. Accusamus animi dolor esse et provident
				velit veritatis vero!
			</div>
			<div class="row">Amet blanditiis nisi vero. Enim expedita ipsam obcaecati ullam? Ab atque dolor dolorem eum
				excepturi id
				nihil odio officiis perspiciatis quaerat quibusdam, quos tenetur. Animi aut iste nihil ut voluptatum.
			</div>
		</accordion-group>
	</accordion>
</div>