
<div class="container">
    <accordion [closeOthers]="oneAtATime">
        <accordion-group heading="Header">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolorum hic, magnam minima nihil
                obcaecati. Animi, at blanditiis corporis cum deserunt dolore hic laborum, laudantium maxime neque nulla
                ut veniam.
            </div>
            <div>Enim inventore magni non quod ratione. Alias, amet aperiam beatae dignissimos dolorum ipsam itaque
                labore laudantium maxime molestiae nam nostrum provident quas qui ratione repellendus soluta tempora?
                Blanditiis, explicabo porro.
            </div>
            <div>Adipisci aperiam commodi dignissimos dolore ea enim eum, fuga fugit harum hic laboriosam nulla,
                perferendis quae quaerat rem repudiandae soluta tempore voluptate. Accusantium asperiores consequuntur
                dignissimos dolore nihil nulla reprehenderit!
            </div>
            <div>Animi doloribus ea expedita incidunt laborum modi molestias, quas recusandae repellat unde. Assumenda
                distinctio, eius et eveniet explicabo minus pariatur sint veniam. Animi dolores facere iste officiis
                perspiciatis ratione recusandae.
            </div>
            <div>Animi doloremque illum itaque provident totam, unde voluptatibus. Dolorem, doloribus fugiat itaque
                nobis quisquam tenetur vero? Aliquam amet architecto blanditiis debitis dignissimos eaque, harum quo sed
                tenetur, totam veniam voluptate?
            </div>
        </accordion-group>
        <accordion-group heading="Content 1">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta dolor repudiandae rerum.
                Beatae earum eius enim esse in ipsa iste minus modi nostrum ratione rerum, sunt tempore totam?
                Laboriosam.
            </div>
            <div>Assumenda earum eveniet expedita magni sit sunt tempora tenetur totam vero voluptatem! Accusantium
                aperiam commodi culpa cumque delectus illum laudantium necessitatibus nostrum odio quibusdam. Ab
                asperiores error expedita maxime soluta.
            </div>
        </accordion-group>
        <accordion-group heading="Content 2">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eum illo iusto laboriosam molestias
                nobis odit quia quisquam totam voluptatem. Asperiores beatae dignissimos facilis, harum ipsum optio
                praesentium quod velit!
            </div>
            <div>Debitis et minima molestias nobis repudiandae! Accusamus dignissimos est expedita fuga illo illum
                maxime molestiae nam natus obcaecati quibusdam rem, veritatis. Accusamus animi dolor esse et provident
                velit veritatis vero!
            </div>
            <div>Amet blanditiis nisi vero. Enim expedita ipsam obcaecati ullam? Ab atque dolor dolorem eum excepturi id
                nihil odio officiis perspiciatis quaerat quibusdam, quos tenetur. Animi aut iste nihil ut voluptatum.
            </div>
        </accordion-group>
    </accordion>
</div>